header { 
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/13/08/40/1000_F_213084028_Vs3GWRGCUayijpLgooEYd8X5gmm0qmaB.jpg);
    color: white;
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 15px;

}

main {
    background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-black-background-texture-advertising-picture-image_975103.jpg);
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    border-left: 30px;
    border-right: 30px;
    border-top: 30px;
    text-align: center;
}

.div-center {
    margin: 40px auto;
    max-width: 700px;
    padding: 32px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.glossario-container {
    margin: 40px auto;
    max-width: 700px;
    padding: 32px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.card {
    color: black;
    text-align: justify;
    background-color: #3485e2;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    padding: 30px;
    width: 80vh;
    margin-bottom: 15px;
}

footer {
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/13/08/40/1000_F_213084028_Vs3GWRGCUayijpLgooEYd8X5gmm0qmaB.jpg);
    color: white;
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 15px;
}
