* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

body {
    background-color: black;
    margin: 0 100px;
}

#cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #444444;
    padding: 10px;
    margin-bottom: 20px;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
}

#cabecalho button {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.pesquisa {
    display: flex;
    justify-content: right;
}

input {
    color: black;
}

#conteudo {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    margin-right: 3px;
}

.card img {
    width: 220px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.card .info {
    background-color: #222222;
    width: 200px;
    height: 70px;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 3px;
}

.card .nome-filme {
    margin-bottom: 20px;
}

.card .ano-filme {
    font-size: 0.8em;
    color: #A0A0A0;
}

#bg-painel-oculto {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40,40,40, 0.7);
}

#painel-oculto {
    position: relative;
    margin: 100px;
    width: auto;
    padding: 10px;
    height: calc(100% - 200px);
    border-style: dashed;
    border-width: 5px;
    border-color: black;
    background-color: white;
}

#painel-oculto img {
    height: 100%;
    float: left;
    margin-right: 10px;
}

#painel-oculto h2 {
    color: black;
    font-size: 2em;
}

#painel-oculto tr {
    margin-bottom: 5px;
}

#painel-oculto th {
    color: black;
    text-align: left;
}

#painel-oculto td {
    color: black;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

#painel-oculto p {
    color: black;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 30px;
}

#painel-oculto hr {
    margin: 10px 0;
}

#btn-fechar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: green;
    padding: 10px;
}
