
body {
    color: white;
}

.container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 200px 1fr 100px;
    grid-template-rows: 60px 1fr 40px;
    height: 100vh;
    gap: 5px;
}

header {
    font-size: large;
    grid-area: header;
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.hero {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

main {
    
    grid-area: main;
    background-image: url('https://images.unsplash.com/flagged/photo-1551301622-6fa51afe75a9?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbmRpbmclMjBwYWdlfGVufDB8fDB8fHww') ;
    background-size: 100%;
    padding: 30px;
    height: 90vh;
    font-size: 2rem;

@keyframes animarDiv {
    0% {
        transform: scale(1) rotate(0deg);
        box-shadow: 0 0 10px #00b4d8;
    }
    50% {
        transform: scale(1.05) rotate(3deg);
        box-shadow: 0 0 30px #0077b6;
    }
    100% {
        transform: scale(1.1) rotate(-3deg);
        box-shadow: 0 0 10px #90e0ef;
    }
}
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

footer {
    grid-area: footer;
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    width: 100%; 
    height: 70px; 
    margin: auto; 
    bottom: 0;
    position: fixed;
}

/* 🔹 Responsividade */
@media (max-width: 768px) {
    .container {
    grid-template-areas:
        "header"
        "menu"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }
    nav {
    order: 2;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-left: 50px;
    }
}

/* 🔹 Responsividade */
@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}